* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #0B2434;
    font-family: Karla, sans-serif;
}

#root{
    margin: 0 auto;
}
main{
    margin: 0 auto;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.tenzies-container {
    background-color: #F5F5F5;
    margin: 0 20px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.die-container {
    margin: 35px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 18px;
    grid-row-gap: 18px;
}

.game-name{
    font-style: normal;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #2B283A;
}
.game-description{
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #4A4E74;
    margin: 0 20px;
}

.die{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    padding: 13px 5px;
    box-shadow: 0 2px 2px 0 #00000026;
    cursor: pointer;
    border-radius: 10px;
    background-color: white;
}
.die-hold{
    background-color: #59E391;
}
.reroll-dies{
    font-family: Karla, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    background-color: #5035FF;
    color: #fff;
    border: 0;
    border-radius: 5px;
    padding: 10px 30px;
    margin: 0 auto;
    cursor: pointer;
}
.reroll-dies:focus {
    outline: none;
}

.reroll-dies:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
@media screen and (max-width: 550px) {
    .die-container{
        margin: 10px;
    }
    .tenzies-container{
        margin: 0 10px;
        padding: 10px;
    }
}
@media screen and (max-width: 420px) {
    .die-container{
        grid-column-gap: 10px;
    }
}